---
{
    "stream": {
        "$id": "sites-cities-2",
        "source": "knowledgeGraph",
        "destination": "pages",
    "fields": [
      "id",
      "uid",
      "name",
      "c_slug",
      "c_children.name",
      "c_children.c_slug",
      "c_children.address",
      "c_children.mainPhone",
      "c_parents.name",
      "c_parents.c_slug",
      "c_parents.id"
    ],
    "filter": {
      "entityTypes": [
        "ce_city"
      ]
     }
    },
    "urlFormat": "{{c_slug}}-x.html"
}
---


<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{name}} - {{c_parents.[0].id}}</title>
    
  </head>
    <body>      

      <nav>
          <ol>
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><a href="/{{c_parents.[0].c_slug}}"> {{c_parents.[0].id}} </a></li>
            <li>/</li>
            <li class="px-2">{{name}}</li>
          </ol>
        </nav>

        <div> 
          <h1> Welcome to {{name}}, {{ c_parents.[0].id }}</h1>
        </div>

    </body> 

</html>