<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{name}} - {{c_parents.[0].id}}</title>
    
  </head>
    <body>      

      <nav>
          <ol>
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><a href="/{{c_parents.[0].c_slug}}"> {{c_parents.[0].id}} </a></li>
            <li>/</li>
            <li class="px-2">{{name}}</li>
          </ol>
        </nav>

        <div> 
          <h1> Welcome to {{name}}, {{ c_parents.[0].id }}</h1>
        </div>

    </body> 

</html>
