---
{
    "stream": {
        "$id": "locations",
        "source": "knowledgeGraph",
        "destination": "pages",
      "fields": [
        "id",
        "uid",
        "name",
        "address",
        "description",
        "mainPhone",
        "photoGallery",
        "services",
        "geomodifier",
        "hours",
        "slug",
        "c_parents.name",
        "c_parents.slug",
        "c_parents.c_parents.name",
        "c_parents.c_parents.id",
        "c_parents.c_parents.slug",
        "c_branchServices.name",
        "c_branchServices.richTextDescription",
        "c_branchServices.c_ctas"
      ],
      "filter": {
        "entityTypes": [
          "location"
        ]
      }
    },
    "urlFormat": "{{slug}}"
}
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{name}} - {{address.line1}} </title>
    {{>head}}
    {{>analytics}}
  </head>
    <body>
        

      {{>navbar}}

      <nav class="breadcrumb-container bg-gray-50">
        <ol class="list-reset py-4 pl-4 rounded flex  text-grey">
          <li class="px-2 hover:underline hover:font-semibold"><a href="/" class="no-underline text-indigo">Home</a></li>
          <li>/</li>
          {{#each c_parents}}{{#each c_parents}}
            <li class="px-2 hover:underline hover:font-semibold"><a href="/{{this.slug}}" class="no-underline text-indigo">{{this.id}}</a></li>
          {{/each}}{{/each}}
          <li>/</li>
          <li class="px-2 hover:underline hover:font-semibold"><a href="/{{c_parents.[0].slug}}" class="no-underline text-indigo">{{c_parents.[0].name}}</a></li>
          <li>/</li>
          <li class="px-2">{{name}} - {{address.line1}}</li>
        </ol>
      </nav>
      
        <div class='title pt-6 pb-6 border-b-8 border-green-400'> 
          <h1 class='text-5xl  font-extralight text-black ml-6'> {{name}} </h1>
        </div>

        <div class="container mx-auto px-32">
          <div class='mt-6  flex'> 
            <div class='branch-details pr-32'>
              <h4 class='text-2xl font-bold mb-4'>Branch Details</h4>
              <div> 
                <p> {{address.line1}} </p>
                <p> {{address.city}}, {{address.region}} {{address.postalCode}}</p>
                <p> {{address.countryCode}}</p>
              </div>
              <div>
                <p>{{mainPhone}}</p>
                {{!-- PRETTY PRINT PHONE NUMBER --}}
                {{!-- <p>{{phoneNumber mainPhone "US" "NATIONAL"}}</p> --}}
              </div>
              
            </div>

            <div class='branch-hours pr-32'>
              <h4 class='text-2xl font-bold mb-4' >Branch Hours</h4>
              <div class='hours-list'>
                {{!-- Format hours array --}}
                {{!-- {{#each (formatHours hours "en_US") }} --}}
                {{#each hours}}
                    {{#if this.date}}
                    {{else}}
                      <p><b>{{@key}}:</b>
                      {{#each this}}
                        {{#if isClosed}}
                          Closed
                        {{/if}}
                        {{#each this}}
                          {{this.start}}-{{this.end}}
                        {{/each}}
                      {{/each}} 
                      </p> 
                    {{/if}}
                {{/each}}
              </div>
            </div>

          {{!-- Format hours array --}}
          {{!-- {{#each (formatHours hours "en_US") }} --}}
          {{#each hours}}
            {{#if this.date}}
            <div class='holiday-hours pr-32'>
              <h4 class='text-2xl font-bold mb-4' >Upcoming Holiday Hours</h4>
              <div class='hours-list'>
                      <p>
                      {{#each this}}
                        {{#if isClosed}}
                          <div>Closed on {{this.date}}</div>
                        {{/if}}
                      {{/each}} 
                      </p> 
              </div>
            </div>
          {{/if}}
           {{/each}} 

            <div class='branch-services pr-32'>
              <h4 class='text-2xl font-bold mb-4'>Services</h4>
              <ul class="branch-services-list list-disc">
                {{!-- Sort services array --}}
                {{!-- {{#each (sortList services) }} --}}
                {{#each services}}
                  <li>{{this}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>

        <div class="services-container mx-auto px-32 bg-yellow-50 p-10 m-10">
          <div class="grid grid-rows-1 grid-flow-col gap-4">
            <div class="row-span-3 ">
                <h4 class='text-3xl font-bold mb-4'>Branch Services</h4>
                <div>At this location, we specialize in these banking services</div>
            </div>
            <div class="col-span-1">
              <div class="grid grid-cols-2 gap-4">
                {{#each c_branchServices}}
                <div class="text-indigo hover:font-semibold">
                    <img src="/beacon-check.png"><a href="{{this.c_ctas.[0].url}}">{{this.name}}</a>
                </div>
                {{/each}}
             </div>
            </div>
          </div>
      </div>


    </body> 
    {{>footer}}
</html>
