<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{name}} - {{geomodifier}} </title>
    
  </head>
    <body>
        <script src="/index.bundle.js"></script> 

      {{>header}}

      <nav class="container">
        <ol class="list-reset py-4 pl-4 rounded flex bg-grey-light text-grey">
          <li class="px-2"><a href="/index" class="no-underline text-indigo">Home</a></li>
          <li>/</li>
          {{#each c_parents}}{{#each c_parents}}
            <li class="px-2"><a href="/{{this.c_slug}}" class="no-underline text-indigo">{{this.id}}</a></li>
          {{/each}}{{/each}}
          <li>/</li>
          <li class="px-2"><a href="/{{c_parents.[0].c_slug}}" class="no-underline text-indigo">{{c_parents.[0].name}}</a></li>
          <li>/</li>
          <li class="px-2">{{name}} - {{geomodifier}}</li>
        </ol>
      </nav>

        <div class='title pt-6 pb-6 border-b-8 border-green-400'> 
          <h1 class='text-5xl  font-extralight text-white ml-6'> {{name}} </h1>
        </div>
        <div class="container mx-auto px-32">
          <div class='mt-6  flex'> 
            <div class='branch-details pr-32'>
              <h4 class='text-2xl font-bold mb-4'>Branch Details</h4>
              <div> 
                <p> {{address.line1}} </p>
                <p> {{address.city}}, {{address.region}} {{address.postalCode}}</p>
              </div>
              <p> {{phone}} </p>
              <p> {{#each c_parents}}
                  <h3><a href="/{{ this.c_slug }}">View Other Locations in {{ this.name }}</a></h3>
                  {{/each}}
              </p>
            </div>

            <div class='branch-hours pr-32'>
              <h4 class='text-2xl font-bold mb-4' >Branch Hours</h4>
              <div class='hours-list'>
                {{#each hours}}
                  <p>{{@key}}
                  {{#each this}}
                    {{#each this}}
                      {{this.start}}-{{this.end}}
                    {{/each}}
                  {{/each}} 
                  </p> 
                {{/each}}
              </div>
            </div>

            <div class='branch-services pr-32'>
              <h4 class='text-2xl font-bold mb-4'>Services</h4>
              <ul class="services-list list-disc">
                {{#each services}}
                  <li>{{this}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
    </body> 
    {{>footer}}
</html>