<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{name}}</title>
    
  </head>
    <body>
        <script src="/index.bundle.js"></script> 

        {{>header}}

      <nav class="breadcrumb-container">
          <ol class="list-reset py-4 pl-4 rounded flex bg-grey-light text-grey">
            <li class="px-2 hover:underline"><a href="/" class="no-underline text-indigo hover:underline"></a>">Home</a></li>
            <li>/</li>
            <li class="px-2">{{id}}</li>
          </ol>
      </nav>


        <div class='title bg-blue-900 pt-6 pb-6 border-b-8 border-green-400'> 
          <h1 class='text-5xl  font-extralight text-white ml-6'> Welcome to {{name}} </h1>
        </div>
        <div class="container mx-auto px-32">
          <div class='mt-6  flex'> 
            <div class='other-cities pr-32'>
              <h4 class='text-2xl font-bold mb-4'>We have locations in these cities</h4>
                <ul class="state-children-list list-disc no-underline hover:underline">
                    {{#each c_children}}
                        <li class='hover:underline'><a href="/{{ this.c_slug }}">{{ this.name }}</a></li>
                    {{/each}}
                </ul>
            </div>
          </div>
        </div>
    </body> 
    {{>footer}}
</html>
